extends ../layout

block content
    div.jumbotron.text-center#main
        h1 Oops!
        h2 It looks like someone else is already using using that username.
        h2: a(href='/signup') Try again
