extends ../layout

block content
    div.jumbotron.text-center#main
        h1 Oops!
        h2 It looks like something went wrong. Try using a diffrent email/username, and make sure all fields were entered correctly.
        h2: a(href='/signup') Try again
