extends layout

block content
    link(rel='stylesheet' href='stylesheets/signup.css')
    script(src='js_files/signup.js')
    div.jumbotron.text-center#main.signupjumbo
        div.alert.alert-danger#someEmpty
            a.alert-link(href='#') You didn't fill in all of the fields.
        div.alert.alert-danger#wrongPassword
            a.alert-link(href='#') The passwords don't match.
        div.alert.alert-danger#wrongEmail
            a.alert-link(href='#') The email addresses don't match.
        h1 Welcome aboard.
        form(role='form')
            div.form-group
                input.form-control(name = 'firstName' type='text' placeholder='First Name')
            div.form-group
                input.form-control(name = 'lastName' type='text' placeholder='Last Name')
            div.form-group
                input.form-control#email(type='email' placeholder='Email Address')
            div.form-group
                input.form-control#emailConfirm(name='email' type='email' placeholder='Confirm Email Address')
            div.form-group
                input.form-control(name='username' type='text' placeholder='Username')
            div.form-group
                input.form-control#password(name='password' type='password' placeholder='Password')
            div.form-group
                input.form-control#confirmPassword(type='password' placeholder='Confirm Password')
            div.form-group
                button.btn.btn-success#submitButton(type='button') Submit
