extends layout

block content
    link(rel='stylesheet' href='stylesheets/signup.css')
    div.jumbotron.text-center#main.signupjumbo
        h1 Welcome aboard.
        form(method='post' action='/new-user')
            div.form-group
                input.form-control(name='user_first' type='text' placeholder='First Name')
            div.form-group
                input.form-control(name='user_last' type='text' placeholder='Last Name')
            div.form-group
                input.form-control(name='user_email' type='email' placeholder='Email Address')
            div.form-group
                input.form-control(name='user_uname' type='text' placeholder='Username')
            div.form-group
                input.form-control(name='user_password' type='password' placeholder='Password')
            div.form-group
                button.btn.btn-success#submit(type='submit') Submit
