html {
    height: 100%;
    width: 100%;
}

body {
/*    height: 100%;*/
    background-image: url('/images/main_background_small.jpg') !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#main {
    font-family: 'Myriad Pro', Helvetica, Verdana;
    margin-top: 19.5%;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border-radius: 25px;
    background: rgba(255,255,255,0.65);
}

#main p {
    font-size: 2em;
}

a {
    color: #00B7FF;
}

#menu {
    background: rgba(255,255,255, 0.55);
}

#footer {
    background: rgba(255,255,255, 0.55);
}

#footer-text {
    padding-top: 1em;
    color: rgb(51,51,51);
}

#footer-text a {
    text-decoration: none;
    color: rgb(51,51,51);
}
